<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Aneira & Zizi: Travel</title>
    </head>
    <body>
       <p>Travel</p> 
    </body>
</html>